body {
    background-color: #00ffff;
    font-family: 'Meiryo','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.light-theme {
    background: #00ffff;
    color: #333;
  }
  .dark-theme {
    background: #000;
    color: #ddd
}

h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #64a8ed;
}